<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <title>getaway - plan your next escape here</title>
</head>
<body>
<div id="wrapper">
    <div id="banner">
        <span id="logo">getaway . . .</span>
        #if($user)
        <span id="logoutlink"><a name="logout">logout</a></span>
        #else
        <span id="loginlink"><a name="login">login</a></span>
        #end
    </div>
    <div class="nav">
        <a href="/">home</a> <a href="/news">news</a> <a href="/offers">offers</a>
    </div>
    <div id="content">
        <div id="search">
            <form id="searchform" action="/search" method="post" name="search">
                <fieldset>
                    <legend>Search for flights</legend>
                    <label for="leaving">Leaving from</label>
                    <input type="text" id="leaving" name="leaving" required/>
                    <label for="departing">Departing</label>
                    <input type="date" id="departing" name="departing" required/>
                    <label for="destination">Going to</label>
                    <input type="text" id="destination" name="destination" required/>
                    <label for="returning">Returning</label>
                    <input type="date" id="returning" name="returning" required/>
                    <input type="submit" name="Search" value="Search"/>
                </fieldset>
            </form>
        </div>
        #if(!$offers.isEmpty())
        <div id="offers">
            <h2>Offers</h2>
            <ul>
                #foreach($offer in $offers)
                    <li>
                        <span class="offer">
                            <span class="offertitle">$offer.title</span>
                        </span>
                    </li>
                #end
            </ul>
        </div>
        #end
    </div>
    <div id="footer">
        <div id="credits">
            Images: <a href="http://www.freephotosbank.com">www.freephotosbank.com</a>
            <br/>
            Weather: <a href="http://openweathermap.org/api">OpenWeatherMap</a>
        </div>
    </div>
</div>
<script src="/scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="/scripts/main.js" type="text/javascript"></script>
</body>
</html>
